* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: white;
  overflow-x: hidden;
}

.App {
  font-family: sans-serif;
  text-align: center;
}


.panning-img {
  animation: panLeftRight 10s infinite linear;
}

.controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  position: absolute;
  bottom: 50px;
  width: 100%;
}


@media (min-width: 768px) {
  .panning-img {
    animation: panUpDown 10s infinite linear;
  }
}


/* index.css */
@keyframes panUpDown {
  0% {
    transform: translateY(0); /* Start at bottom */
  }
  20% {
    transform: translateY(0); /* Hold 3s */
  }
  50% {
    transform: translateY(-10%); /* Move up */
  }
  70% {
    transform: translateY(-10%); /* Hold 3s */
  }
  100% {
    transform: translateY(0); /* Back down */
  }
}

@keyframes panLeftRight {
  0% {
    transform: translateX(0); /* Start at left */
  }
  20% {
    transform: translateX(0); /* Hold 3s */
  }
  50% {
    transform: translateX(-10%); /* Move right */
  }
  70% {
    transform: translateX(-10%); /* Hold 3s */
  }
  100% {
    transform: translateX(0); /* Back left */
  }
}
