/* Button */
button {
  border: none;
  background-color: transparent;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: rgb(102, 102, 102);
}

i {
  color: gray;
  font-size: 4em;
}

/* Book */
.book {
  width: 400px;
  height: 550px;
  position: relative;
  transition: transform 0.5s;
}

.paper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front {
  backface-visibility: hidden;
  border-left: 6px solid #b6b6b6;
  border-radius: 10px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transform-origin: left;
  transition: transform 0.5s;
  border-radius: 15px;
}

.front {
  z-index: 1;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  /* box-shadow: 3px 4px 28px #dbdbdb; */
}

.back-content {
  transform: rotateY(180deg);
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Paper Z-index */
#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

/* Customization */
.book-title {
  font-size: 3em;
  margin-bottom: 40px;
}

.cover-img {
  width: 380px;
  height: 400px;
  object-fit: cover;
}

#b1 {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  justify-content: space-around;
}

#b1 h2 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

#b1 p {
  margin-bottom: 20px;
}

#b2{
    background-color: yello;
}