/* Book */
.book {
  width: 400px;
  height: 600px;
  position: relative;
  transition: transform 0.5s;
}

.paper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front {
  backface-visibility: hidden;
  border-left: 6px solid #002c0f;
  border-radius: 10px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transform-origin: left;
  transition: transform 0.5s;
  border-radius: 15px;
}

.front {
  z-index: 1;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  /* box-shadow: 3px 4px 28px #dbdbdb; */
}

.back-content {
  transform: rotateY(180deg);
}

/* Paper Flipped */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Paper Z-index */
#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

/* Customization */
.book-title {
  font-size: 3em;
  margin-bottom: 40px;
}

.cover-img {
  width: 380px;
  height: 400px;
  object-fit: cover;
}

/* Tablets (≤ 768px) */
@media (max-width: 768px) {
  .book {
    width: 300px;
    height: 420px;
  }

  .cover-img {
    width: 280px;
    height: 320px;
  }

  i {
    font-size: 3em;
  }
}

/* Mobile (≤ 480px) */
@media (max-width: 480px) {
  .book {
    width: 350px;
    height: 500px;
  }


  .book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* ✅ show only one card in view */
  }

  .paper {
    width: 100%;
    height: 100%;
  }

  .front-content,
  .back-content {
    width: 200%;
    height: 100%;
  }

  /* Optional: shrink button size on mobile */
  button i {
    font-size: 2.5em;
  }
}